// Place all the styles related to the My401k::ProfessionalHelp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin4 {
  margin-left: 21px;
}

.theTile2 {
  height: 140px;
  width: 115px;
  background-color: #AAA;
}