#carousel{
  position: relative; 
  left: 5px; 
  float: left; 
}

#carousel img {
  left: 7px;
  position: absolute;
  top: 9px;
}

#carousel{
  background: url('/assets/My401KMadeEasy/frame-with-shadow.png') no-repeat left top;
  width:652px; height:312px;
}

.arrow-button{
  position: absolute;
  z-index: 10;
  top: 140px;
  width:25px; height:25px;
  cursor: pointer; 
}

.arrow-button.left{
  background: url('/assets/My401KMadeEasy/left-arrow-button.png') no-repeat left top;
  left: 15px; 
}
.arrow-button.right{
  background: url('/assets/My401KMadeEasy/right-arrow-button.png') no-repeat left top;
  right: 15px; 
}

