.section-body form label{
  display: inline-block;
  height: 20px;
  position: relative;
  text-align: right;
  width: 105px;
}

.section-body form .field .label{
  float: left; 
  clear: both; 
}

.section-body form .field input, 
.section-body form .field textarea{
  float: left; 
}

.section-body form .field textarea{
  width: 100%;
  height: 5em;
}

.section-body form .field .label label{
  width: auto;
}

.section-body form .field{
  margin-bottom: 1em;
  float: left; 
  clear: both; 
  width: 100%;
}
.section-body form .field.last{
  margin-bottom: 0;
}

