#logo{
  height: 161px; width: 218px;
  height: 166px; width: 100%;
  height: auto;
  margin-top: 23px; 
}
#logo a{
  border: 0;
  background: transparent;
}

div.logo-graphic.corporate{
  background: url('wallpaper/logo.png') no-repeat left top;
  width:217px; height:162px;
  background: url('/assets/My401KMadeEasy/logo-ribbon.png') no-repeat left top;
  width:263px; height:80px;
  position: relative; 
  left: -28px;
}
div.ribbon-shadow {
  background: url("/assets/My401KMadeEasy/ribbon-shadow.png") no-repeat scroll left top transparent;
  height: 169px;
  left: -3px;
  position: absolute;
  top: -41px;
  width: 51px;
  z-index: -10;
}

div.logo-graphic{
  margin-top: 9px;
}
div.logo-graphic.first{
  margin-top: 0;
}

div.logo-graphic.sponsor{
  background: url('/assets/My401KMadeEasy/frugalio-logo.png') no-repeat left top;
  width:287px; height:86px;
}

