.header-navigation .button, 
#header-navigation .button{
  background: url('/demo/nav-button-top.png') no-repeat left top;
  width:97px; height:30px;
  font-size: 12pt;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  color: white;
  position: relative;
  z-index: 10;
  margin-left: 20px;
  margin-left: 9px;
}

.header-navigation .button, 
.header-navigation .button a, 
#header-navigation .button, 
#header-navigation .button a{
  color: white;
  text-decoration: none;
}
.header-navigation li.first, 
#header-navigation li.first{
  margin-left: 0;
}

.header-navigation .button, 
#header-navigation .button{
  padding: 0;
  padding-top: 1em;
  width:129px; height:75px;
}

.header-navigation .button a, 
#header-navigation .button a {
  display: block;
  font-size: 11pt;
  left: -2px;
  line-height: 1.2em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: relative;
  top: 0;
  width: 90px;
}


.header-navigation .button a.wider, 
#header-navigation .button a.wider {
  width: 111px;
}
.header-navigation .button a:hover, 
#header-navigation .button a:hover {
  text-decoration: none; 
}


.header-navigation .button.blue, 
#header-navigation .button.blue, 
.header-navigation .button.button-about-plan, 
#header-navigation .button.button-about-plan, 
#header-navigation .button.button-manage-profile{
  background: url('/assets/My401KMadeEasy/blue-button.png') no-repeat left top;
}
.header-navigation .button.green, 
#header-navigation .button.green, 
.header-navigation .button.button-manage-account, 
#header-navigation .button.button-manage-account, 
#header-navigation .button.button-manage-content{
  background: url('/assets/My401KMadeEasy/green-button.png') no-repeat left top;
}
.header-navigation .button.purple, 
#header-navigation .button.purple, 
.header-navigation .button.button-helpful-resources, 
#header-navigation .button.button-helpful-resources, 
#header-navigation .button.button-permissions{
  background: url('/assets/My401KMadeEasy/purple-button.png') no-repeat left top;
}
.header-navigation .button.orange, 
#header-navigation .button.orange, 
.header-navigation .button.button-enroll, 
#header-navigation .button.button-enroll, 
#header-navigation .button.button-plug-in-content{
  background: url('/assets/My401KMadeEasy/orange-button.png') no-repeat left top;
}
.header-navigation .button.grey, 
#header-navigation .button.grey, 
.header-navigation .button.button-special-offers, 
#header-navigation .button.button-special-offers, 
#header-navigation .button.button-provider-directory{
  background: url('/assets/My401KMadeEasy/grey-button.png') no-repeat left top;
}

.header-navigation.sml{
}
.header-navigation.sml {
  margin-left: auto;
  margin-right: auto;
  width: 87%;
  margin-top: 1em;
  cursor: pointer;
}

.header-navigation.sml ul{
}

.header-navigation.sml ul li{
}
.header-navigation.sml ul li {
  margin: 0 0 0 2em;
  padding: 0.5em 0;
  width: 86px;
  position: relative; 
}
.header-navigation.sml ul li input[type="radio"], 
.header-navigation.sml ul li input[type="checkbox"] {
  bottom: 22px;
  left: 32px;
  position: absolute;
}


.header-navigation.sml ul li.first {
  margin-left: 0;
}

.header-navigation.sml ul li a{
}
.header-navigation.sml ul li a {
  font-size: 9pt;
  left: 3px;
  margin: 0;
  padding: 0;
  width: 80px;
}


.header-navigation.sml .button.blue{
  background: url('/assets/My401KMadeEasy/blue-button-sml.png') no-repeat left top;
}
.header-navigation.sml .button.green{
  background: url('/assets/My401KMadeEasy/green-button-sml.png') no-repeat left top;
}
.header-navigation.sml .button.purple{
  background: url('/assets/My401KMadeEasy/purple-button-sml.png') no-repeat left top;
}
.header-navigation.sml .button.orange{
  background: url('/assets/My401KMadeEasy/orange-button-sml.png') no-repeat left top;
}
.header-navigation.sml .button.grey{
  background: url('/assets/My401KMadeEasy/grey-button-sml.png') no-repeat left top;
}

#header-navigation .button .tools{
  display: none; 
}
