// Place all the styles related to the My401k::PlugInAuthor::ManageContent::Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contentSection {
 float: left; 
}

.margin {
  margin-left: 100px;
}

.contentSectionButton {
  position: relative;
}

.contentSectionImg {
  
}

.contentSectionText {
  position: absolute;
  top: 20px;
  left: 25px;
}